@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  /* font-style: oblique; */
  
  /* background-color: rgba(170, 152, 52, 0.425); */
  
}

 body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1555074566-485a0b0494ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=826&q=80);
  background-size: cover;
} 

.container {
  background-color: blueviolet;
  padding: 20px 40px;
  border-radius: 5px;

}
.container h1 {
  text-align: center;
  margin-bottom: 30px;
}
.container a {
  text-decoration: none;
  color: lightblue;
}
.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;

}
.btn:focus {
  outline: 0;

}
btn:active {
  transform: scale(0.98);
}
.text {
  margin-top: 20px;
}
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus, .form-control input:valid {
  outline: 0;
}
.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}
.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
